Prog/Solution/Ale.Content/GuiPalette/GuiPalette.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="guiPalette">
    <xs:complexType>
      <xs:all>
        <xs:element name="rectangles" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="rectangle" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="locationX" type="xs:int" use="required" />
                  <xs:attribute name="locationY" type="xs:int" use="required" />
                  <xs:attribute name="width" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="height" type="xs:unsignedInt" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="graphicElements" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="image" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="textureFileName" type="xs:string" use="required" />
                    <xs:attribute name="locationX" type="xs:unsignedInt" use="required" />
                    <xs:attribute name="locationY" type="xs:unsignedInt" use="required" />
                    <xs:attribute name="width" type="xs:unsignedInt" use="required" />
                    <xs:attribute name="height" type="xs:unsignedInt" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="animation" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="frame" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:attribute name="locationX" type="xs:unsignedInt" use="required" />
                          <xs:attribute name="locationY" type="xs:unsignedInt" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="textureFileName" type="xs:string" use="required" />
                    <xs:attribute name="frameDuration" type="xs:unsignedInt" use="required" />
                    <xs:attribute name="loop" type="xs:boolean" use="required" />
                    <xs:attribute name="width" type="xs:unsignedInt" use="required" />
                    <xs:attribute name="height" type="xs:unsignedInt" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>